@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slick-slide div {
  outline: none;
}

.menu {
  z-index: 999999;
}

.menu li {
  position: relative;
}

.menu li, menu a {
  display: inline-block;
}

.menu li {
  padding: 8px;
  border-radius: 0.75rem
    /* 12px */
  ;
  border-top-left-radius: 0px;
  transition: all .3s ease-in-out;
}

.menu li:hover {
  background: #ffffff;
  --tw-text-opacity: 1;
  color: rgb(34 211 238 / var(--tw-text-opacity));
  cursor: pointer;

}

.menu li:hover>.carret-arrow {
  transform: rotate(180deg);
}

/* Submenu */

.submenu li, .submenu2 li {
  padding: 2px 8px;
  width: 100%;
}

.submenu li:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(34 211 238 / var(--tw-bg-opacity));
  color: #ffffff;
}

.submenu {
  position: absolute;
  width: 140px;
  left: 0;
  margin-top: 2px;
  padding: 8px;
  background-color: #ffffff;
  --tw-text-opacity: 1;
  color: rgb(34 211 238 / var(--tw-text-opacity));
  border-radius: 0.75rem
    /* 12px */
  ;
  border-top-left-radius: 0px;
  display: none;
  z-index: 999999;
}

.submenu2 {
  position: absolute;
  left: 100%;
  width: 140px;
  top: 0;
  background-color: #ffffff;
  --tw-text-opacity: 1;
  padding: 4px;
  color: rgb(34 211 238 / var(--tw-text-opacity));
  border-radius: 0.75rem
    /* 12px */
  ;
  border-top-left-radius: 0px;
  display: none;
  z-index: 999999;
}

/* Show on hover */

.menu li:hover>.submenu {
  display: block;
}

.submenu li:hover>.submenu2 {
  display: block;
}